/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 3rem;
  --font-medium: 1.75rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 0.25rem;

  /* Animation */
  --animation-duration: 300ms;
}

/* Umiversal tags */
* {
  box-sizing: border-box;
  margin: 0;
}

li {
  list-style: none;
}
body {
  margin: 0;
  cursor: default;
  /* 마우스가 올라가도 글씨가 아닌 기본으로 취급 표시 */
}

a {
  text-decoration: none;
  color: var(--color-white);
  /* a 태그의 밑줄 삭제, 색상 설정 */
}

ul {
  list-style: none;
  padding: 0;
  /* ul 태그의 기호(앞쪽) 삭제, 패딩 설정 */
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1rem 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.5rem 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.25rem 0;
}

/* Navbar */
#navbar {
  position: fixed;
  top: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background-color: none;
  color: crimson;
  z-index: 100;
}

.navbar__logo img {
  width: 25%;
}

.navbar__logo a {
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 0.5rem 0.75rem;
  border: 0.063rem solid transparent;
  border-radius: var(--size-border-radius);
  cursor: pointer;
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
}

.swiper {
  width: 100%;
  height: 100%;
  margin: auto;
}

#Pound-cake {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: url(imgs/official_photo/goods7-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  font-family: sans-serif;
}

.pound-cake img {
  width: 100%;
  padding-top: 23%;
}

.pound-cake__tittle {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pound-cake__description {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#Menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: url("https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg")
    fixed; */
  background: url(imgs/official_photo/goods3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.menu img {
  width: 100%;
  padding-top: 23%;
}

#menu__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  padding-top: 10%;
  margin-left: -100px;
  opacity: 0;
}

#menu__text.text__slide {
  animation: text__slide 0.75s ease-in-out;
  margin-left: 0px;
  opacity: 1;
}

#menu__text.text__slide text__disappear {
  animation: text__disappear 0.1s ease-out;
}

@keyframes text__slide {
  from {
    margin-left: -100px;
    opacity: 0;
  }

  to {
    left: 400px;
    opacity: 1;
  }
}

@keyframes text__disappear {
  from {
    margin-left: 400px;
    opacity: 1;
  }

  to {
    left: -100px;
    opacity: 0;
  }
}

.menu__btn {
  margin: 7% 0 3% 0;
  padding: 0.3rem 0.75rem;
  border: 0.125rem solid #ea1319;
  border-radius: var(--size-border-radius);
  cursor: pointer;
}

.menu__btn button {
  margin-bottom: 3px;
  color: var(--color-black);
  font-family: sans-serif;
}

#marketing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: url(imgs/official_photo/goods1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.sns img {
  width: 100%;
}

.sns__btn {
  padding: 0.5rem 0.75rem;
  border: 0.125rem solid #ea1319;
  border-radius: var(--size-border-radius);
  cursor: pointer;
  margin: 3%;
}

.sns__btn button {
  margin-bottom: 3px;
  color: var(--color-black);
}

#goods {
  padding: 1% 0 20% 1%;
  width: 100%;
  height: 100%;
  background-image: url(imgs/official_photo/goods8-1.jpg);
}

.goods__title {
  padding: 10% 0% 1% 1%;
  display: flex;
  justify-content: space-between;
}

.goods__title h3 {
  font-weight: bold;
  font-family: sans-serif;
}

.goods__title button {
  margin-top: 0.25rem;
  color: var(--color-black);
}

.goods__slide {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.goods__slide img {
  padding: 1% 0 0% 1%;
  width: 100%;
  height: 100%;
}

/* footer */
#footer {
  background-color: #eeeeee;
  padding: 13.5px;
  font-family: sans-serif;
}

.footer__title h3 {
  margin: 0%;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.75px;
  color: rgb(85, 85, 85);
}

.footer__description {
  color: rgb(85, 85, 85);
  font-size: 10px;
  padding-top: 3%;
}

.footer__description li {
  padding: 1% 1% 1% 0;
}
